!!! 5
html
  head
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.2.1/pure-min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/progressbar.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css")
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css")
    title Bitstarter
  body
    block content