@media (min-width: 980px) {
    .linediv-l {
        border-right: 1px white solid;
    }

    .linediv-r {
        border-right: 1px white solid;
    }
}

@media (max-width: 700px) {
    .linediv-l {
        border-bottom: 1px white solid;
    }

    .linediv-r {
        border-top: 1px white solid;
    }
}

.progress {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.7em;
}

.l-box {
    padding: 1em;
}

.actions {
    background-color: #343434;
    text-align: center;
    margin: 1em auto 0;
    padding: 2em 0.5em;
}

.actions h3, .actions p {
    color: white;
}

p {
    font-size: 18px;
    line-height: 24px;
}

.progress {
    margin-top: 1em;
}

button {
    margin-left: .5em;
}
.header {
    margin: 0 0;
}

.header .pure-menu {
    padding: 0.5em;
}

    .header .pure-menu li a:hover,
    .header .pure-menu li a:focus {
        background: none;
        border: none;
        color: #aaa;
    }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
    text-align: center;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}